<form accept-charset="UTF-8" action="/users/new" method="get">
  <label for="username">Username name:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="email">Email email:</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="password">Password password:</label>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>